@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Smart Expenses</h3>
    <hr class="my-4" />
    <h4>Expenses: <span>ALL @ViewData["Expenses"]</span></h4>
    <h4>Incomings: <span>ALL @ViewBag.Incomings</span></h4>
    <h4>Balance: <span>ALL @((decimal)ViewBag.Incomings - (decimal)ViewBag.Expenses)</span></h4>
</div>
